@using DessertApp.Infraestructure.IdentityModels
@model IEnumerable<AppRole>

@{
    ViewData["Title"] = "Roles";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crete New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
