@using DessertApp.Models.Entities
@model Dessert

@{
    ViewData["Title"] = "Dessert Details";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Stock:</strong> @Model.Stock</p>
        <p><strong>Is available?:</strong> @(Model.IsAvailable ? "Yes" : "No")</p>
        <p><strong>Annual Demand:</strong> @Model.AnnualDemand</p>
        <p><strong>Category:</strong> @Model.DessertCategory.Name</p>
        <p><strong>Is Low Demand?:</strong> @(Model.IsLowDemand ? "Yes" : "No")</p>
        <p><strong>Price:</strong> $@Model.Price.ToString("N2")</p>
    </div>
</div>

<a href="@Url.Action("Edit", "Dessert", new { id = Model.Id })" class="btn btn-warning">Edit</a>
<a href="@Url.Action("Index", "Dessert")" class="btn btn-secondary">Back to List</a>
