@using DessertApp.Models.Entities
@model IngredientUnit

<h1>Delete Ingredient Unit</h1>


<p>Are you sure you want to delete the following ingredient unit?</p>

<dl>
    <dt>Items Per Unit</dt>
    <dd>@Model.ItemsPerUnit</dd>
    <dt>Cost Per Unit</dt>
    <dd>@Model.CostPerUnit</dd>
    <dt>Ordering Cost</dt>
    <dd>@Model.OrderingCost</dd>
    <dt>Monthly Holding Cost Rate</dt>
    <dd>@Model.MonthlyHoldingCostRate</dd>
</dl>

<form asp-action="DeleteUnit" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
